.order-container {
  max-width: 1100px;
  margin: 2rem auto;
  background: #0f172a;
  padding: 2rem;
  border-radius: 16px;
  color: white;
}

.order-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.order-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
}

.form-left {
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 12px;
}

.order-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.map-center {
  display: flex;
  flex-direction: column;
}

.route-btn,
.submit-btn {
  width: 100%;
  padding: 14px;
  margin-top: 12px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.route-btn:hover,
.submit-btn:hover {
  background: #0ea5e9;
}

.map-wrapper {
  width: 100%;
  height: 420px;
  margin-top: 1rem;
  border-radius: 12px;
  overflow: hidden;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.price-box {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  text-align: center;
}


@media (max-width: 768px) {
  .order-grid {
    grid-template-columns: 1fr;
  }

  .map-wrapper {
    height: 300px;
  }
}
