*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
  color: #333;
  min-height: 100vh;
}


#root {
  min-height: 100vh;
}


a {
  text-decoration: none;
  color: inherit;
}


button {
  font-family: inherit;
  cursor: pointer;
}
