/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.landing-container {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top, #0f2027, #000);
  color: #ffffff;
  overflow-x: hidden;
}